@import '../../assets/colors';

.title-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: $font;
	background-color: $secondary;
	border: none;
	outline: none;
}
