@import '../../assets/colors';

.save-btn {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-align: center;
	color: $font;
	background-color: $secondary;
	border: 0;
	outline: none;
	cursor: pointer;
}
